.container {
  max-width: 800px;
  margin: 0 auto;
}

.events-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.event-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

.event-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.event-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.event-excerpt {
  margin-bottom: 10px;
}

.read-more-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
